body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E
}
h1{
 margin: 50px auto 0 auto;
 font-family: 'Sacramento', cursive;
 font-size: 5.625rem;
 color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bolder;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{

    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin-top: 30px;
}
a{
  margin: 10px 40px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a:hover{
  color: white;
}
.top-container{
  background-color: #EAF6F6;
  position:relative;
  padding-top: 100px;
}
.bottom-container{
  margin-top: 20px;
  background-color: #66BFBF;
  text-align: center;
  padding: 30px 0 30px 0;

}
.trademark{
  margin-bottom: 0;
  color: #EAF6F6;
}
.middle-container{
  color: #40514E;
  text-align: center;
  margin: 50px 0;
}
.web{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 350px;
}
.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
}
.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}
.code{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.footer-link{
  text-decoration: none;
  display: inline-block;;
  margin: 0 30px;
  font-size: 20px;
  font-weight:bold;
}
.trademark{
  font-size: 12px;
  padding: 10px 0;
}

.intro{
  width: 30%;
  margin: auto;
}
.message{
  width: 30%;
  margin: 40px auto 60px;

}
.btn{
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
   font-size: 31px;
   font-weight: 50;
   padding: 10px 25px 10px 25px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
